@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

section {
  /* https://devsakaso.com/javascript-100vh-problem-on-mobile-screens/# */
  height: calc(var(--vh, 1vh) * 100);
}

h1 {
  color: #003566;
}

/* Background Gradient------------------------------------------ */
#section1 {
  background: linear-gradient(234deg, #fa709a, #fee140);
  background-size: 300% 300%;
  animation: GradientBackground 8s ease 1s infinite;
}

#about_inner {
  background: linear-gradient(234deg, #a8edea, #fed6e3);
  background-size: 300% 300%;
  animation: GradientBackground 8s ease 1s infinite;
}

#profile {
  background: linear-gradient(234deg, #ddd6f3, #faaca8);
  background-size: 300% 300%;
  animation: GradientBackground 8s ease 1s infinite;
}

#portfolio1 {
  background: linear-gradient(234deg, #5ee7df, #b490ca);
  background-size: 300% 300%;
  animation: GradientBackground 8s ease 1s infinite;
}

#portfolio2 {
  background: linear-gradient(234deg, #fddb92, #d1fdff);
  background-size: 300% 300%;
  animation: GradientBackground 8s ease 1s infinite;
}

#portfolio3 {
  background: linear-gradient(234deg, #e0c3fc, #8ec5fc);
  background-size: 300% 300%;
  animation: GradientBackground 8s ease 1s infinite;
}

#portfolio4 {
  background: linear-gradient(234deg, #ffdee9, #b5fffc);
  background-size: 400% 400%;
  animation: GradientBackground 13s ease infinite;
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
